.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.categories li {
    margin: 0 10px;
    position: relative;
}

.categories li + li::before {
    content: '';
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    border-left: 1px solid #ccc;
}

.category-content {
    display: none;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2em;
}

.item {
    padding: 2em;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 2rem;
}