
/* This styling is strictly for the projects page and is not used anywhere else on the site, unless otherwise specified. */


:root {
    --bg: aliceblue;
    --text: black;
}

.body {
    background: var(--bg);
    color: var(--text);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Page Formatting */

.container {
    display: flex;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid black;
    padding-left: 10%;
    padding-right: 10%;
}


/* Main Content */


.categories {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.categories li {
    margin: 0 10px;
    position: relative;
}

.categories li + li::before {
    content: '';
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    border-left: 1px solid #ccc;
}

.category {
    color: var(--text);
}

.category-content {
    display: none;
    text-align: center;
}


/* Project Cards (Clickable Links) */


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    width: 100%;
}

.item {
    display: flex;
}

.clickable {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    padding: 2em;
    border-radius: 12px;

    background: rgba(0, 0, 0, 0.1);
    color: var(--text);
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    transition: transform 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
}

.clickable:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.project-link {
    margin: 0;
    font-size: 1.5rem;
}




/*** Media Reponses ***/


/* Project Cards */

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

body.theme-dark {
    --bg: #121212;
    --text: #f1f1f1;
}

body.theme-contrast {
    --bg: black;
    --text: yellow;
}